.App {
  text-align: center;
}

img{
  height: 100px;
  width: 100px;
  border:1px solid black;
  align-items: center;

}
.card-grid{
  margin-top: 40px;
  margin-left: auto;
  margin-right: 700px;
  width: 80px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:25px;
}